// Set color variables in root to use in Tailwind config and Vue components
:root {
  --black: #191b1d;
  --white: #fff;
  --alert: #de243a;
  --success: #10d372;
  --pending: #efb800;
  --underlined: #f7e9bb;
  --primary: #6d31ff;
  --secondary: #a176ff;
  --primary-600: #4b23ef;
  --primary-550: #542ef0;
  --primary-500: #6d31ff;
  --primary-400: #85f;
  --secondary-300: #a176ff;
  --secondary-200: #bea0ff;
  --secondary-100: #d8c6fe;
  --secondary-50: #f1e8ff;
  --gray-700: #707070;
  --gray-600: #7e7e7e;
  --gray-500: #909090;
  --gray-400: #d0d0d0;
  --gray-300: #e0e0e0;
  --gray-200: #f5f5f5;
  --gray-100: #fafafa;
  --sales-1: #2abdd2;
  --sales-2: #22d0dd;
  --sales-3: #7cdbe8;
  --expenses-1: #ff664a;
  --expenses-2: #ff9a88;
  --expenses-3: #ffc8be;
  --avatar-0: #0a1b79;
  --avatar-1: #0b3ad8;
  --avatar-2: #486ff4;
  --avatar-3: #48a5f4;
  --avatar-4: #485319;
  --avatar-5: #64761d;
  --avatar-6: #9eb736;
  --avatar-7: #b9d63f;
  --avatar-8: #8d0e42;
  --avatar-9: #841313;
  --avatar-10: #c92e00;
  --avatar-11: #f4660e;
  --avatar-12: #f4bf0e;
  --avatar-13: #60410e;
  --avatar-14: #816435;
  --avatar-15: #bc8121;
  --avatar-16: #e3b15f;
  --avatar-17: #5c0617;
  --avatar-18: #09533c;
  --avatar-19: #2e9a3b;
  --avatar-20: #73c437;
  --avatar-21: #8ad056;
  --avatar-22: #6c0584;
  --avatar-23: #9934b1;
  --avatar-24: #c576d8;
  --avatar-25: #ddaee8;
  --avatar-26: #a73889;
  --avatar-27: #cc1987;
  --avatar-28: #ff029d;
  --avatar-29: #f76fc2;
  --avatar-30: #4c5da4;
  --avatar-31: #b2d2e9;
  --avatar-32: #498ae8;
  --avatar-33: #4a66c4;
  --avatar-34: #16171a;
  --avatar-35: #41445d;
  --avatar-36: #727693;
  --avatar-37: #979dc6;
  --avatar-38: #f8915e;
  --avatar-39: #e06a1b;
  --avatar-40: #f2d325;
  --avatar-41: #d5b81b;
  --avatar-42: #1d5471;
  --avatar-43: #136691;
  --avatar-44: #4393bc;
  --avatar-45: #71a9c6;
  --avatar-46: #e098a1;
  --avatar-47: #f8bab0;
  --avatar-48: #b489a5;
  --avatar-49: #e88199;
}
